


.card {
    background-color: #F8F5F0;
    box-shadow: none;
}



.min-vh-100 {
    min-height: 100vh;
}

.form{
    width: 100%;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #DFDAD4;
}

.link{
    font-weight: 500;
    font-size: 14px;
    color: #291C0A;
}

.btn-orange {
    background-color: #FF9500 !important; /* Ensure the background color applies */
    color: #fff !important; /* Ensure the text color applies */
    font-weight: 500;
    width: 100%;
    height: 48px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .btn-orange:hover {
    background-color: #FF9500 !important; 
    color: #fff !important;
    opacity: 0.8; 
  }
  
  .btn-orange:disabled {
    background-color: #FF9500 !important; 
    opacity: 0.5; 
    cursor: not-allowed; 
  }

  .custom-toast {
    width: 506px !important;
    height: 48px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;

}
